.navbar {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: chartreuse;
}

p {
    text-indent: 30px;
}

.container-fluid {
    padding-top: 50px;
}

.container-fluid div {
    border-width: 3px;
    border-color: #3366ff;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
}

.classgreet {
    visibility: hidden;
    position: absolute;
    right: 10px;
    color: white;
    animation-name: ani1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.card {
    background-color: #e6ffff;
    height: auto;
    width: auto;
}

.card:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body a {
    transform: translateY(50%);
}

.css-doodle {
z-index = -1;
}
.card-img-top {
    border-radius: 10px;
}

@keyframes ani1 {
    0%   {color: darkorange;}
    25%  {color: chartreuse;}
    50%  {color: skyblue;}
    100% {color: yellow;}
}

@media only screen and (min-width: 950px) {
    .card {
        background-color: #e6ffff;
        height: 420px;
        width: auto;
    }

    .myclass {
        padding: 0 10%;
        width: 100%;
    }

    .card-body a{
        transform: translateY(0);
    }

    .classgreet {
        visibility: visible;
        position: absolute;
        right: 10px;
        color: white;
    }
}
