.doodle {
    position: fixed;
    z-index: -1;
}

.nav {
    text-align: center;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 20;
    font-size: 12px;
    background-color: white;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    cursor: pointer;
    border-radius: 7px;
    color: #333399;
    background-color: white;
}

.nav-link:hover {
    background-color: #333399;
    color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

p {
    text-indent: 30px;
    font-weight: 500;
}

.container-fluid {
    padding-top: 60px;
    padding-bottom: 20px;
}

.container-fluid div {
    border-radius: 10px;
    padding: 20px;
}

#MyHead {
    font-weight: 700;
    color: #c24914;
}

.card {
    opacity: 1;
    height: 400px;
    width: auto;
    animation-name: apprearcard;
    animation-duration: 3s;
    animation-timing-function: ease;
    overflow: hidden;
    cursor: pointer;
    background-color: #eff8ff;
}

#greet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;
    animation-name: greetani;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 3s;
    visibility: hidden;
    font-size: 60px;
    color: #e48900;
    border-radius: 13px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: azure;
}

@keyframes greetani {
    0%{visibility: visible;
    opacity: 1;}
    70%{visibility: visible;
        opacity: 1;}
    100%{visibility: hidden;
    opacity: 0;}
}

@keyframes apprearcard {
    0%   {height: 0;
    opacity: 0.1;}
    100% {height: 400px;
        opacity: 1;}
}

.card:hover {
    opacity: 0.7;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 110px;
    border-radius: 10px;
}

.card-text {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

footer {
    opacity: 1;
    visibility: visible;
    width: 100%;
    animation-name: footani;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes footani {
    0%   {opacity: 0;}
    100% {opacity: 0;}
}

.container {
    background-color: white;
    padding-top: 100px;
}

footer .card {
    border-radius: 0;
    width: 100%;
    height: 150px;
    color: white;
    animation: none;
}

footer .card:hover {
    opacity: 1;
}

#progressbar {
   position: fixed;
   z-index: 100;
   top: 0;
   background-color:#ff00ff;
   width: 0;
   height: 2px;
   box-shadow: 0 2px 4px 0 rgba(123, 50, 168, 0.6), 0 4px 6px 0 rgba(123, 50, 168, 0.2);
}

#text {
    background-color: white;
}

#text1 {
    color:goldenrod;
    text-decoration: underline;
    background-color:white;
}

.p-2 img {
    padding: 10px 0px;
    height: auto;
    width: 100%;
}

#bigimg {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 950px) {
    .container-fluid {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 70px;
    }
    
    .container div div img {
        height: 400px;
    }

    @keyframes apprearcard {
        0%   {height: 0;
        opacity: 0.1;}
        100% {height: 420px;
            opacity: 1;}
    }

    .card {
        height: 420px;
        width: auto;
    }

    .card-img-top {
        height: 140px;
        border-radius: 10px;
    }

    .navbar {
        font-size: 18px;
    }    

    .myclass {
        padding: 0 5%;
        width: 100%;
    }

    .card-body a{
        transform: translateY(0);
    }

    footer .card {
        height: 120px;
        color: white;
        animation: none;
    }

    #text {
        font-size: large;
    }

    .p-2 img {
        padding: 10px;
        height: 450px;
        width: auto;
    }

    footer {
        visibility: visible;
    }

    #syntax {
        height: 200px;
    }

    #bigimg {
        height: 800px;
        width: auto;
    }
}
