.doodle {
    position: fixed;
    z-index: -1;
}

.nav {
    text-align: center;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 20;
    font-size: 12px;
    background-color: white;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    border-color: #0000b3;
    cursor: pointer;
    border-radius: 7px;
    color: #0000b3;
    background-color: white;
}

.nav-link:hover {
    background-color: #0000b3;
    color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

p {
    text-indent: 30px;
}

.container-fluid {
    padding-top: 50px;
}

.container-fluid div {
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
}

.card {
    opacity: 1;
    height: 400px;
    width: auto;
    animation-name: apprearcard;
    animation-duration: 3s;
    animation-timing-function: ease;
    overflow: hidden;
    cursor: pointer;
    background-color: #eff8ff;
}

#greet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;
    animation-name: greetani;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 3s;
    visibility: hidden;
    font-size: 60px;
    color: rgb(98, 0, 255);
    background-color:rgb(125, 253, 6);
    border-radius: 10px;
    padding: 5px 10px;
}

@keyframes greetani {
    0%{visibility: visible;
    opacity: 1;}
    70%{visibility: visible;
        opacity: 1;}
    100%{visibility: hidden;
    opacity: 0;}
}

@keyframes apprearcard {
    0%   {height: 0;
    opacity: 0.1;}
    100% {height: 400px;
        opacity: 1;}
}

.card:hover {
    opacity: 0.7;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 125px;
    border-radius: 10px;
}

.card-text {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    visibility: hidden;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer .card {
    width: 100%;
    height: 100px;
    color: white;
    animation: none;
}

footer .card:hover {
    opacity: 1;
}

@media only screen and (min-width: 950px) {
    .card {
        height: 400px;
        width: auto;
    }

    .navbar {
        font-size: 18px;
    }    

    .myclass {
        padding: 0 5%;
        width: 100%;
    }

    .card-body a{
        transform: translateY(0);
    }

    footer {
        visibility: visible;
    }
}
